
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    background: url("./background.png");
}


.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10;
    margin: 100px auto 0;
    padding: 20px;
}


img {
    height: 25px;
}
